.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--body-color);
  z-index: 2;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 10px;
    font-weight: 800;
    font-size: var(--font-size-h1);
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include breakpoint(md) {
      gap: 50px;
    }
  }

  &__theme-toggle {
    width: 24px;
    height: 24px;
    background: none;

    & > svg {
    inline-size: 100%;
    block-size: 100%;
    }
  }

  &__theme-light-icon {
    display: none;
  }

  &__theme-dark-icon {
    display: none;
    fill: #ffffff;
  }
}

