:root {
  /* Container */
  --container-width: 1024px;
  --container-padding-x: 10px;

  @include breakpoint(xs) {
    --container-padding-x: 30px;
  }

  @include breakpoint(md) {
    --container-padding-x: 50px;
  }

  /* Font */
  --font-family-base: "Raleway", sans-serif;
  --font-size-body: 1.125rem;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-small: 1rem;

  @include breakpoint(lg) {
    --font-size-body: 1.25rem;
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
  }
}

/* Color & Theme */
[data-theme="light"] {
  --body-color: #eff2f9;
  --bg-color: #fff;
  --accent-color: #aec7ea;
  --light-color: #f3f3f3;
  --border-color: #dedee0;
}

[data-theme="dark"] {
  --body-color: #121212;
  --bg-color: #282828;
  --accent-color: #aec7ea;
  --light-color: #ffffff;
  --border-color: #5a5761;

  --text-color: #E3E3E3;
}